p = "#{@guest.name},"

p = "Thank you for your RSVP, we'll be seeing you at the wedding!"

p = "In the meantime we will keep you up-to-date with our plans as they develop."

p = "If your details change please let us know, you can update them anytime on the website: #{ENV['APP_URL']}/rsvp"

p = "— The Bride 👰 and Groom 🎩"
