$breakpoint-s: 720px;
$breakpoint-m: 960px;
$breakpoint-l: 1280px;

$palette-white: #FFFFFF;
$palette-light-gray: #EDEDED;
$palette-mid-gray: #989898;
$palette-dark-gray: #333333;
$palette-light-blue: #99C6EF;
$palette-mid-blue: #10658C;
$palette-dark-blue: #001B80;
$palette-gold: #D9C6B1;
$palette-notice-error: #D9534F;
$palette-notice-warning: #F0AD4E;
$palette-notice-success: #5Cb85C;
